body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}
  
h1 {
  font-size: 36px;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
}

ul, dl, dd, h1 {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.main-header {
  background-color: #161b25;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  padding: 20px 0;
  font-size: 16px;
  font-weight: 300;
}

.post {
  margin: 0 auto;
  margin-top: 20px;
  width: 165px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  padding: 8px;
  background-color: #2e323b;
  color: #ffffff;
  text-transform: capitalize;
}

.promo {
  background-color: #161b25;
}

.contacts-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  width: 390px;
  margin: 0 auto;
  margin-top: 80px;
}

dt {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

dd {
  font-size: 14px;
  line-height: 28px;
  font-weight: 200;
  padding-bottom: 20px;
}

.promo-wrapper {
  display: flex;
  min-height: 590px;
  flex-direction: row-reverse;
  justify-content: center;
}

.promo-text {
  margin-left: 50px;
  width: 390px;
  padding: 50px 0;
}

.promo-img {
  position: relative;
}

.promo-img-photo {
  z-index: -1;
}

.promo-img-bg {
  position: absolute;
  top: -100px;
  width: 390px;
  height: 700px;
  background-color: #e7e8e9;
  opacity: 0.05;
  z-index: 1;
}


